<head>
    <title>Błąd | LoLWay</title>
</head>
<section id="error" class="container">
    <h1>@ViewBag.Title</h1>
    <p>@ViewBag.Message</p>
    <p>@ViewBag.errorMessage</p>
    <a class="btn btn-success" href="@Url.Action("index", "home")">Powróć do strony głównej</a>
</section>
