<head>
    <title>Błąd | LoLWay</title>
</head>
<section id="error" class="container">
    <h1>NIEZNANY BŁĄD</h1>
    <p>Skontaktuj się z administratorem w celu przekazania informacji o tym kiedy i w jaki sposób wystąpił problem</p>
    <a class="btn btn-success" href="@Url.Action("index", "home")">Powróć do strony głównej</a>
</section>
