<head>
    <title>Resetowanie hasła | LoLWay</title>
</head>
<section id="error" class="container">
    <h1>Resetowanie hasła</h1>
    <p>Proszę sprawdzić Twoją skrzynkę mailową w celu zakończenia procesu resetowania hasła</p>
    <a class="btn btn-success" href="@Url.Action("index", "home")">Powróć do strony głównej</a>
</section>
