<head>
    <title>Rejestracja | LoLWay</title>
</head>
<!--Title-->
<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Potwierdzenie rejestracji</h1>
                <p>Jeszcze jeden krok...</p>
            </div>
        </div>
    </div>
</section>
<!--/Title-->

<section id="contact-page" class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>
                Do zakończenia procesu rejestracji należy jeszcze potwierdzić adres e-mail. W tym celu sprawdź skrzynkę mailową!
            </p>
        </div>
    </div>
</section>
