<head>
    <title>Nowe hasło | LoLWay</title>
</head>
<section id="error" class="container">
    <h1>Hasło zostało zresetowane</h1>
    <p>Udało się Tobie zresetować hasło!</p>
    <a class="btn btn-success" href="@Url.Action("Login", "Account")">Zaloguj się</a>
</section>
