@model IEnumerable<LoLWay.Models.whishlist>
<head>
    <title>Bohaterowie | LoLWay</title>
</head>
<section id="live-game-stats" class="container">
    <!--Main table-->
    <div class="row">
        <div class="col-md-12">
            @Ajax.ActionLink("Wszyscy", "WhishlistTable", "Whishlist", new AjaxOptions { UpdateTargetId = "whishTable", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-primary whishlist" })
            @Ajax.ActionLink("Posiadane", "WhishlistTable", "Whishlist", new { owned = true }, new AjaxOptions { UpdateTargetId = "whishTable", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-danger whishlist" })
            @Ajax.ActionLink("Do kupienia", "WhishlistTable", "Whishlist", new { owned = false }, new AjaxOptions { UpdateTargetId = "whishTable", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-warning whishlist" })
        </div>
    </div>
    @Html.Partial("_Whishlist", Model)
</section>