@{
    Layout = null;
}
To: @ViewBag.To
From: lolwayproject@gmail.com
Subject: Resetowanie hasła LoLWay
<html>
<body>
    Cześć!<br />
    Otrzymaliśmy informację, że niestety zapomniałeś swoje hasło. Żeby odzyskać konto kliknij <a href="@ViewBag.ResetLink">zresetuj hasło!</a><br />
    Pozdrawiamy<br />
    Administracja LoLWay
</body>
</html>