@{
    Layout = null;
}

To: @ViewBag.To
From: lolwayproject@gmail.com
Subject: Aktywacja konta LoLWay
<html>
<body>
    Cześć!<br />
    Aby ukończyć proces rejestracji <a href="@ViewBag.ConfirmationLink">potwierdź swój adres e-mail.</a><br />
    Pozdrawiamy<br />
    Administracja LoLWay
</body>
</html>